.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 50px;
}

.image img{
    height: 450px;
    transition: 2.5ms;
}

.hero-header p {
    text-align: left;
}

.hero-desc {
    padding-top: 0px;
    margin-top: 0px;
    max-width: 550px;
}

.hero-buttons .one {
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 10px 8px;
    transition: 0.4s;
}

.hero-buttons .one:hover {
    border-radius: 40px;
    transition: 0.5s;
    background-color: #A7E6FF;
}

.hero-buttons .two {
    transition: 0.3s;
    margin-left: 10px;
}

.hero-buttons .two:hover {
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0 10px;
    padding: 10px 10px 8px;
    transition: 0.2s;
}

.hero-buttons {
    margin-top: 35px;
    padding-left: 0;
    margin-left: 0;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.9s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

@media (max-width: 717px) {
    .hero-buttons {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hero-buttons .one {
        max-width: 140px;
        margin-bottom: 0px;
    }

    .hero-buttons .two {
        margin-top: 0px;
        padding-left: 6px;
        padding-top: 3px;
    }

    .hero-buttons .two:active {
        color: gray;
    }

    .image img{
        height: 350px;
        margin-top: 40px;
    }
}