.login {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 30px;
}

.login-head {
    text-align: left;
}

.login form {
    border: 2px solid black;
    border-radius: 15px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 400px; */
}

.login form button {
    background-color: #a7e6ff;
    font-size: 16px;
    font-weight: 550;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
}

.login form button:active {
    background-color: #a7e6ff;
}

.login form button:hover {
    background-color: transparent;
}

.login-head h1,
p {
    margin: 0;
}

.login-head p {
    font-size: 15px;
}

.login-head h1 {
    font-size: 45px;
}

.email-div,
.name-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: red;
}

.password-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-div input {
    border: none;
    width: 350px;
}

.password-input {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 12px;
    align-items: center;
}

.eye-icon {
    padding-right: 20px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.password-input input:focus {
    border: none;
    outline: none;
}

@media (max-width: 717px) {
    .login form {
        border: 2px solid black;
        border-radius: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* width: 400px; */
    }

    .login form div {
        width: 300px;
    }

    .eye-icon {
        font-size: 27px;
    }

    .login form button {
    }
}
