.footer-main {
    background-color: black;
    /* height: 500px; */
}

.row-1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.row-1 button {
    background-color: black;
    color: white;
    border-color: white;
    border-style:groove;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

hr {
    color: white;
    max-width: 1200px;
}

.about-us ul li {
    color: white;
}

.about-us ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.need-help ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.need-help ul li {
    color: white;
}

.options {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.terms-of-use ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.terms-of-use ul li {
    color: white;
}

.about-us ul .li-1 {
    color: gray;
}

.need-help ul .li-1 {
    color: gray;
}

.terms-of-use {
    padding-top: 40px;
}

.row-3 {
    color: white;
    display: flex;
    justify-content: end;
    padding-right: 100px;
    padding-top: 20px;
    font-size: medium;
}

.row-2 ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-top: 20px;
}

@media (min-width: 414px) and (max-width: 414px) {
   .row-1 {
    padding-top: 0;
   }

   .footer-main .row-3 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-right: 30px;
   }
}

