@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  /* background: linear-gradient(#fdecff,#fff6d9,#cafde8); */
}

.app {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
